#home{
    min-height: 100vh;
    background: linear-gradient(to right, blue, purple);
    color: white;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skills{
    margin-bottom: 70px;
}

#containerhome{
    padding: 150px;
}

@media (max-width: 768px) {
    #containerhome {
        padding: 50px 20px;
    }
    
    #home h1 {
        font-size: 24px;
    }
    
    #home p {
        font-size: 16px;
    }
}
#navbar-brand{
    background-color: black;
}